body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
    margin: auto;
    border: 5px solid #000;
    border-radius: 5px;
}

header{
    background-color: black;
    color: azure ;
    text-align: center;
}

footer{
    text-align: center;
    font-style: italic;
    color: rgb(198, 178, 218);
    background-color: rgb(75, 64, 64);
}

.botones{
    text-align: center;
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}
